@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merienda', cursive;
}

/*body meaning - these effects will apply to everything in the body class*/
body{
    height: 100vh;
    width: 100%;
    overflow: hidden;
    /* this is for the calculator itsself*/
    display: flex;
    justify-content: center;/* this is for the calculator itsself too*/
    align-items: center; /*this aligns the calculator to the center*/
    background: linear-gradient( #ece9e9, #758a92, #2968a3)

}

/*bubbles talking specifcally about the entire "bubbles class"*/
.bubbles{
    position: absolute;
    bottom: 0; /*COME BACK TO THIS CHANGE TO 0*/
    display: flex;
    width: 100%;
    justify-content: space-around;
}

/* Talking about the ENTIRE bubbles span*/
.bubbles span{
    height: 60px;
    width: 60px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(6px);
    animation: move 8s linear infinite;
    position: relative;
    overflow: hidden; /* this means that what is overflowing the bubbles which was the mirror, is hidden. Meaning it wont show */
}

/*animation for the ENTIRE "bubbles span"*/
@keyframes move {
    100%{
      transform: translateY(-90vh);
    }
}

/* entire "bubble span before"*/
.bubbles span:before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 60px;
    width: 40%;
    transform: skew(45deg) translateX(150px);
    background: rgb(225, 225, 225, 0.15);
    animation: mirror /* what you put over here, in this case, "mirror" is what goes after the "key frames */ 3s linear infinite;
}

/*animation for "bubbles span before" */
@keyframes mirror /*we put "mirror" bc it is what we put in animation*/ {
    100%{
        transform: translateX(-450px);
    }
}

/*individual "bubble spans before" so basically the mirror animation will be moving @ differnent times for each bubble span*/
.bubbles span.one:before{
    animation-delay: 1.5s;
}
.bubbles span.two:before{
    animation-delay: 3.5s;
}
.bubbles span.three:before{
    animation-delay: 2.5s;
}
.bubbles span.four:before{
    animation-delay: 7.5s;
}
.bubbles span.five:before{
    animation-delay: 1s;
}

/*individual bubbles so basically the transformation for each individual bubble*/
.bubbles span.one{
    animation-delay: 2s;
    transform: scale(0.35);
}
.bubbles span.two{
    animation-delay: 3.4s;
    transform: scale(2.15);
}
.bubbles span.three{
    animation-delay: 0.2s;
    transform: scale(0.5);
}
.bubbles span.four{
    animation-delay: 4s;
    transform: scale(2.5);
}
.bubbles span.five{
    animation-delay: 2s;
    transform: scale(1.5);
}

/* containter (for actual calculator" (talks about all the things INSIDE the container*/
.container{
    width: 360px;
    padding: 15px;
    border-radius: 12px;
    backdrop-filter: blur(5px);
    background: rgba(225, 225, 225, 0.1);
    box-shadow: 0 20px 50px rgba(204, 183, 183, 0.15);  
    border-top: 1px solid rgba(225, 225, 225, 0.5);
    border-left: 1px solid rgba(225, 225, 225, 0.5);
}

.container input[type="text"]{
    width: 100%;
    height: 100px;
    margin: 0 3px;
    outline: none;
    /*border-color: #ece9e9; you can enable this to take away transparent border thingy */
    border: none; /* CAN TAKE THIS AWAY TO TAKE AWAY THE TRANSPARENT TYPE BAR THINGY */
    color: #f0f0f0;
    font-size: 20px;
    text-align: right;
    padding-right: 10px;
    background: transparent;
}

.container input[type="button"]{
    height: 65px;
    color: #fff;
    border-color: #f0f0f0;
    width: calc(100% / 4 - 5px);
    background: transparent;
    border-radius: 12px;
    margin-top: 15px;    
    outline: none;
    font-size: 20px;
    transition: all 0.3s ease;
    cursor: pointer; /* means you can click on it */
 /*border: none;*/ /* you can disable this again but rn, I like the number */
}

.container input[type="button"]:hover{
    background: #c2ccd4;
}